.env
config.json
.vscode
faces
phones.json
emails.json
soda.json
credentials.json
token.json
polls.json
links.json
ecosystem.config.js
competition.json
bonk.json
slashCommands.json
node_modules
keys.json
bonks